# dependencies
/node_modules

# production build
/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables


# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Optional: if you're using Mac/Linux
*.swp
*.swo

# Optional: if you're using Windows
*.exe
*.dll
*.obj
*.class
